<mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input name="name" [(ngModel)]="model.name" required minlength="4" #name="ngModel" matInput>
    <mat-error *ngIf="name.invalid">Name is required and at least  characters long</mat-error>
  </mat-form-field>
  <br>
  <button mat-raised-button [disabled]="name.invalid" (click)="save()" >Save</button>